/* Generic CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
  overflow: hidden;
  font-family: catchy;
}

@font-face {
  font-family: catchy;
  src: url(/assets/fonts/catchy-mager.otf);
}
a {
  color: white;
}

/*========*/

/* Container and Background */
.container {
  position: relative;
  justify-content: center;
  height: 100vh;
}

.background {
  width: 100%;
  padding: 2rem;
  position: relative;
  z-index: 1;
}
.background-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/*========*/

/* Navbar*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  position: relative;
  z-index: 1;
}

.join-button {
  padding: 10px 20px;
  font-size: 25px;
  color: #ffffff;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.233),
    rgba(112, 112, 112, 0.308),
    rgba(65, 65, 65, 0.274)
  );
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 20px;
  font-family: catchy;
}

.join-button:hover {
  background: #00000069;
  box-shadow: rgba(0, 60, 255, 0.4) 0px 2px 4px,
    rgba(4, 0, 255, 0.3) 0px 7px 13px -3px,
    rgba(0, 229, 236, 0.2) 0px -3px 0px inset;
}

#join-link {
  text-decoration: none;
}
#join-link:active {
  color: white; /* Change color to white when clicked */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo img {
  height: 150px;
  width: auto;
}

/*========*/

/* Main Text */
.text-container {
  text-align: center;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 10em;
  font-weight: bold;
}

.subtitle {
  font-style: italic;
  font-size: 2.2em;
  color: #b0c4de;
  text-align: right;
  margin-right: 270px;
  background-color: #0d1b2a;
  display: inline-block;
  /* transition: 1s ease; */
}

/*========*/

/* Footer */
.bottom-icons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-icon {
  font-size: 50px;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.5s;
}

.info-icon:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.volume-icon {
  font-size: 50px;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.volume-icon:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

/*========*/

/* POPUP */

.popup {
  z-index: 5;
  width: 55%;
  height: 75%;
  position: fixed;
  top: 12%;
  left: 21%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgba(128, 128, 128, 0.205);
  box-shadow: 0 0 30px #000;
  transition: 0.1s ease;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px); /* Start slightly below its final position */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.close-popup {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
  padding: 20px 40px;
  transform: translateY(0);
}

/*========*/

/*FORM*/

.container_main {
  background-color: #9b9b9b;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.container_main p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container_main span {
  font-size: 12px;
}

.container_main a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container_main button {
  background-color: #000000b4;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container_main button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container_main form {
  background-color: #9b9b9b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container_main input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container_main.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.container_main.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  background-color: black;
  height: 100%;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container_main.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container_main.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container_main.active .toggle-right {
  transform: translateX(200%);
}

/*========*/

/* Info Popup */

#infoPopup .info-content {
  text-align: center;
  color: white;
}

#infoPopup h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

#infoPopup p {
  font-size: 1.2em;
}

.info-content {
  width: 1200px; /* Set the width of the window */
  height: 600px; /* Set the height of the window */
  padding: 20px 40px;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  text-align: left;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: rgba(110, 110, 110, 0.35);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.info-content p {
  font-size: 10px;
  line-height: 40px;
  margin-bottom: 50px;
  font-weight: 350;
  color: white;
}

.info-content li {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 350;
  margin-left: 25px;
  color: white;
}

.headline {
  font-style: italic;
  font-size: 100px;
  margin-bottom: 40px;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-weight: 700;
  font-family: catchy;
  color: floralwhite;
  padding-bottom: 10px;
  border-bottom: 0.5px rgb(255, 255, 255) solid;
}

.subheads {
  margin-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
  border-radius: 200px;
  letter-spacing: 3px;
  color: rgb(29, 29, 29);
  font-weight: 600;
  text-align: center;
  color: white;
  font-family: catchy;
}

ul {
  list-style: none;
  border: 1px solid #7b7b7b;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
}

.list-bulls {
  text-decoration: underline;
  margin: 5px 0px 10px 0px;
  color: #c5c5c5;
}

/*========*/

.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #333;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  display: none;
}

.custom-alert p {
  margin-bottom: 15px;
  font-size: 25px;
}

.custom-alert button {
  padding: 10px 20px;
  background-color: #5f687ec4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.custom-alert button:hover {
  background-color: #474747;
}

#cookieConsent {
  display: none;
  background: #0000006e;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 0.75em;
  color: black;
  background-color: white;
}

#cookieConsent button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 8px;
  display: block;
  box-sizing: border-box;
  border: 2px solid 0.75em;
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: white;
  color: black;
  transition: transform 1s ease;
}

#cookieConsent button:hover {
  background-color: #5c5c5c96;
  color: white;
}
